<strong>Password recovery</strong>

<p>A password recovery was requested for the e-mail ({{ email }}).</p>

<p>To continue with the request, use the following token {{ token }} or click on the link below.</p>

<a href="{{ link }}">Create new password</a>